include VERSION README.md LICENSE CHANGELOG.md pyproject.toml
recursive-include include *.h
recursive-include src *.cpp
recursive-include cuda *.cu *.cpp
recursive-include python *.py *.cpp *.cu
recursive-include docs *.md
recursive-include benchmarks *.py *.cpp
recursive-include tests *.cpp *.py
recursive-include cmake *.in *.map
recursive-include pkgconfig *.in
